<section class="w-screen h-screen bg-black text-center relative overflow-hidden landing-section"
data-header-color="black"
id="accesories">
    <div class="z-30 relative h-full w-full flex flex-col">
        <header>
            <h2 class="text-black pt-40 text-[40px] font-medium">Accesorios</h2>
           
        </header>

        <footer class="flex justify-center mt-72 text-white">
                <div class="flex flex-col gap-4 lg:flex-row">
                    <a href="#" class="border-2 px-12 py-2 rounded font-sm bg-slate-600 backdrop-blur-sm border-white
                    hover:bg-white hover:text-black transition-colors">Comprar Ahora</a>
                    
                </div>
        </footer>
    </div>
    <div class="absolute top-[-160px] bottom-0 z-10 h-full w-full">
        <img src="../../src/assets/accessories.avif" alt="">
    </div>
</section>